$max-width: 1200px !default;

// Padding used for layout margins
$pad-min: 18px !default;
$pad-narrow: 25px !default;
$pad-medium: 35px !default;
$pad-wide: 55px !default;

// Sidebar widths used in media queries
$sidebar-width-medium: 240px !default;
$sidebar-pad-medium: 15px !default;
$sidebar-pad-wide: 20px !default;
$sidebar-width-wide: 300px !default;

$indented-lists: false !default;

$header-font-size: 1em !default;
$header-padding-top: 1.5em !default;
$header-padding-bottom: 1.5em !default;

body {
  -webkit-text-size-adjust: none;
  position: relative;
  margin: 0 auto;
  
  div.pagination {
    margin-left: $pad-min;
    margin-right: $pad-min;
    @media only screen and (min-width: 480px) {
      margin-left: $pad-narrow;
      margin-right: $pad-narrow;
    }
    @media only screen and (min-width: 768px) {
      margin-left: $pad-medium;
      margin-right: $pad-medium;
    }
    @media only screen and (min-width: 992px) {
      margin-left: $pad-wide;
      margin-right: $pad-wide;
    }
  }
  > header {
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
  }
}

#content {
  position: relative;  
  margin: 0 auto;
  text-align: left;
  overflow: hidden;
  > div, > article { width: 100%; }
}

header ~ #main #content {
   max-width: 800px;
}

.flex-content { max-width: 100%; height: auto; }

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

.toggle-sidebar { &, .no-sidebar & { display: none; }}

header .home {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 2em;
  margin-left: 1em;
  color: white;
}

header .home a:visited {
   color: white;
}

.author.card {
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 2em;
  margin-right: 2em;
  color: white;
  text-align: center;

  & a img {
    width: 64px;
    height: 64px;
    border: none;
    border-radius: 32px;
    box-shadow: 2px 2px 2px black;

  }

  & .name {
    font-size: 0.6em;
  }

  & a {
    text-decoration: none;
    color: rgba(255,255, 255, 0.4);
  }
}

body > header {
  background-image: url(/images/head.jpg) !important;
  background-size: cover !important;
  min-height: 700px;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

footer {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

body > header hgroup {
  margin-bottom: 2em;
  max-width: 800px;
}

#main {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 10px;
}

@media only screen and (max-width: 750px) {
  body > header { min-height: 200px; }
  .author.card {
    position: initial;
  }
}

@media only screen and (min-width: 550px) {
  body > header { font-size: $header-font-size; }
}

@media only screen and (min-width: 768px) {
  body { -webkit-text-size-adjust: auto; }
  body > header { font-size: $header-font-size * 1.2; }
  #main {
    padding: 0;
    margin: 0 auto;
  }
  #content {
    overflow: visible;
    position: relative;
    .no-sidebar & { margin-right: 0; border-right: 0; }
    > div, > article {
      padding-top: $pad-medium/2;
      padding-bottom: $pad-medium/2;
      float: left;
    }
  }
}
