{{ partial "head.html" . }}

<body class="blogpost">
  <div>
    <header class="{{ if .Params.image.thumb_path }}with-background{{end}}" style="{{ if .Params.image.thumb_path }}background-image: url('{{ .Params.image.thumb_path }}');{{ end }}">
      <h3>{{ .Title }}</h3>
    </header>
    <div class="menu">
      <div class="menu-items">
        <a href="/">Home</a> | 
        <a href="/projects/">Projects</a> | 
        <a href="/life/">Life</a> | 
        <a href="https://twitter.com/Paul_Kinlan">Twitter</a>
      </div>
    </div>
    <main class="">
        <div id="content" >
          <div class="author">
            <div>
              <strong>Paul Kinlan</strong>
              <span><time pubdate>{{  .Date.Format "January 2 2006" }}</time></span>
            </div>
          </div>

          {{ .Content }}
          
          {{ partial "share.html" . }}
          {{ partial "article_footer.html" . }}
          {{ partial "moi.html" . }}
          <div class="comments" id="disqus_thread"></div>
        </div>
    </main>
  </div>
  
</body>
</html>