{{ partial "head.html" . }}
{{ partial "menu.html" }}
<body class="blogpost">
  <div>
    <header class="{{ if .Params.image.thumb_path }}with-background{{end}}" style="{{ if .Params.image.thumb_path }}background-image: url('{{ .Params.image.thumb_path }}');{{ end }}">
      <h3 class="entry-title">{{ .Title }}</h3>
      <div class="author">
        <div>
          <strong>Paul Kinlan</strong>
          <span><time pubdate>{{  .Date.Format "January 2 2006" }}</time></span>
        </div>
      </div>
    </header>
    <main class="">
        <div id="content" >
          {{ .Content }}
          
          {{ partial "share.html" . }}
          {{ partial "article_footer.html" . }}
          {{ partial "moi.html" . }}
        </div>
    </main>
  </div>
  
</body>
</html>