{{ partial "head.html" . }}

<body class="blogpost">
  <div>
    <header class="{{ if .Params.image.thumb_path }}with-background{{end}}" style="{{ if .Params.image.thumb_path }}background-image: url('{{ .Params.image.thumb_path }}');{{ end }}">
      <h3>{{ .Title }}</h3>
    </header>
    {{ partial "menu.html" }}
    <main class="">
        <div id="content" >
          <div class="author">
            <div>
              <strong>Paul Kinlan</strong>
              <span><time pubdate>{{  .Date.Format "January 2 2006" }}</time></span>
            </div>
          </div>

          {{ .Content }}
          
          {{ partial "share.html" . }}
          {{ partial "article_footer.html" . }}
          {{ partial "moi.html" . }}
        </div>
    </main>
  </div>
  
</body>
</html>