body > footer {
  @extend .sans;
  font-size: .8em;
  color: $footer-color;
  text-shadow: lighten($footer-bg, 5) 0 1px;
  background-color: $footer-bg;
  border-top: 1px solid $footer-border-top;
  position: relative;
  padding-top: 1em;
  padding-bottom: 1em;
  margin-bottom: 3em;
  z-index: 1;
  p:last-child { margin-bottom: 0; }
}
