body > nav {
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
  padding-top: 0;
  padding-left: 1em;
  padding-bottom: .35em;
  
  ul { display: none; }
  
  @media only screen and (min-width: 550px) {
    font-size: .9em;
    ul {
      margin: 0;
      padding: 0;
      border: 0;
      overflow: hidden;
      float: left;
      display: block;
      padding-top: .15em;
    }

    ul li {
      margin: 0;
      list-style-image: none;
      list-style-type: none;
      margin-left: 0;
      white-space: nowrap;
      float: left;
      padding-left: 0;
      padding-right: 0;
    }
    a {
      color: #9e9e9e;
      text-shadow: #fff 0 1px;
      float: left;
      text-decoration: none;
      font-size: 1.1em;
      padding: .1em 0;
      line-height: 1.5em;
    }
    li + li {
      border-left: 1px solid $nav-border-left;
      margin-left: .8em;
      a {
        padding-left: .8em;
        border-left: 1px solid $nav-border-right;
      }
    }
    form {
      float: right;
      text-align: left;
      padding-left: .8em;
      width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium + 20px;
      .search {
        width: 93%;
        font-size: .95em;
        line-height: 1.2em;
      }
    }
    ul[data-subscription$=email] + form {
      width: $sidebar-width-medium - $pad-medium*2 - $sidebar-pad-medium - 58px;
      .search { width: 91%; }
    }
    fieldset.mobile-nav { display: none; }
    fieldset[role=search]{ width: 99%; }
  }
  @media only screen and (min-width: 992px) {
    form {
      width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 + 10px;
    }
    ul[data-subscription$=email] + form {
      width: $sidebar-width-wide - $pad-wide - $sidebar-pad-wide*2 - 58px;
    }
  }
}
.no-placeholder {
  body > nav .search {
    background: lighten($nav-bg, 15) image-url('search.png') .3em .25em no-repeat;
    text-indent: 1.3em;
  }
}
