{{ partial "head.html" . }}

<body class="blogpost">
  <div>
    {{ partial "menu.html" }}
    <header class="{{ if .Params.image_header }}with-background{{end}}"
      style="{{ if .Params.image_header }} background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('{{ .Params.image_header}}');{{ end }}">
      <h3>{{ .Title }}</h3>
    </header>
    <main class="{{.Type}}">
      <div id="content" {{ if ne .Lang "en" }}lang="{{ .Lang }}-x-mtfrom-en" {{ end }}>
        <div class="byline">
          <div class="author">
            <div>
              <strong>Paul Kinlan</strong>
              <span><time pubdate>{{ .Date.Format "January 2 2006" }}</time></span>
            </div>
          </div>

          <div>
           <p>I use <a href="https://logseq.com/">logseq</a> to journal what I learn and read. These are the wiki pages for my knowledge graph and are intended to just be bullet points that I use for further thinking and quick reference.</p>
          </div>
        </div>
        {{ if isset .Params "toc" }}{{ .TableOfContents }}{{ end}}
        {{ .Content }}
        {{ partial "backlinks.html" . }}
        {{ partial "share.html" . }}
        {{ partial "article_footer.html" . }}
        {{ partial "moi.html" . }}
        {{ partial "comments.html" .}}
      </div>
    </main>
  </div>
</body>

</html>