{{ partial "head.html" . }}

<body class="list h-feed">
  <header class="me">
    <div class="h-card p-author">
    <span class="p-name" style="display: none;">Tales of a develoepr advocate</span>
    <img class="u-photo" src="/images/me.png">
    <h1>Hello.</h1> 
    <h2>I am <span class="fn">Paul Kinlan</span>.</h2>
    <h3>A Developer Advocate for Chrome and the Open Web at Google.</h3>
    </div>
  </header>
  <div>
    {{ partial "menu.html" }}
    <main class="hfeed">
{{ $paginator := .Paginate (where .Pages "Type" "journal") }}
{{ range $index, $element := $paginator.Pages }}
  <div class="post entry">
    <h3><a href="{{ .Permalink }}" class="entry-title u-url">Journal: {{ .Title}}</a></h3>
  </div>
{{ end }}
        
{{ partial "moi.html" . }}
  <nav style="text-align: center">
    <div>
    {{ if .Paginator.HasPrev }}
    <a href="{{ .Paginator.Prev.URL }}">Previous</a>
    {{ end }}
    |
    {{ if .Paginator.HasNext }}
      <a href="{{ .Paginator.Next.URL }}">More</a>
    {{ end }}
    </div>
  </nav>
  </main>
</div>
</body>
</html>