{{ partial "head.html" . }}

<body class="blogpost">
  <div>
    {{ partial "menu.html" }}
    <header class="{{ if .Params.image_header }}with-background{{end}}"
      style="{{ if .Params.image_header }}background-image: url('{{ .Params.image_header}}');{{ end }}">
      <h3>Journal {{ .Title }}</h3>
    </header>
    <main class="{{.Type}}">
      <div id="content" {{ if ne .Lang "en" }}lang="{{ .Lang }}-x-mtfrom-en" {{ end }}>
        <div class="byline">
          <div class="author">
            <div>
              <strong>Paul Kinlan</strong>
              <span><time pubdate>{{ .Date.Format "January 2 2006" }}</time></span>
            </div>
          </div>

          <div>
           <p>I use <a href="https://logseq.com/">logseq</a> to journal what I learn and read. These posts are intended to just be bullet points that I use for further thinking.</p>
          </div>
        </div>
        {{ if isset .Params "toc" }}{{ .TableOfContents }}{{ end}}
        {{ .Content }}
        {{ partial "backlinks.html" . }}
        {{ partial "share.html" . }}
        {{ partial "article_footer.html" . }}
        {{ partial "moi.html" . }}
        <script defer src="https://cdn.commento.io/js/commento.js" data-no-fonts="true"></script>
        <div id="commento"></div>

        <div class="comments webmentions">
          <iframe id=mentions src="/api/mentions.js?url={{.Page.Permalink}}">
          </iframe>
          <script>
            // Selecting the iframe element
            const mentionsFrame = document.getElementById("mentions");
            mentionsFrame.onload = function () {
              mentionsFrame.style.height = `${mentionsFrame.contentWindow.document.body.scrollHeight}px`;
            }
          </script>
        </div>
      </div>
    </main>
  </div>
</body>

</html>