@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props/buttons.min.css";

html {
  display: grid;
}

body {
  background: var(--grape-0);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  max-width: calc(var(--size-content-1) * 4);
  align-self: start;
  justify-self: center;
}

header {
  width: 100%;
  padding: var(--size-5);
}

form {
  display: flex;
}

main {
  display: grid;
  justify-content: space-around;
  max-inline-size: calc(var(--size-content-1) * 4);
  padding: var(--size-5);
  align-items: center;
  grid-template-columns: 1fr;
  gap: var(--size-5);
}

.error {
  color: var(--red-5);
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);
}

.card {
  flex-basis: var(--size-content-1);
  display: flex;
  flex-direction: column;
  gap: var(--size-2);
  background: var(--surface-3);
  border: 1px solid var(--surface-1);
  padding: var(--size-4);
  border-radius: var(--radius-3);
  box-shadow: var(--shadow-2);
}

.card > h5 {
  line-height: var(--font-lineheight-1);
}

input[type=text] {
  flex: 1;
  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-5);
}

input[type=submit] {
  display: inline-flex;
  white-space: nowrap;

  font-size: var(--font-size-fluid-1);
  font-weight: var(--font-weight-7);

  padding-inline: var(--size-6);
  padding-block: var(--size-3);

  color: var(--blue-9);
  border: var(--border-size-2) solid var(--blue-5);
  background-color: transparent;
  border-radius: var(--radius-2);
  margin-left: 1em;
}

input[type=submit]:is(:hover, :focus) {
  cursor: pointer;
  color: var(--blue-0);
  background-color: var(--blue-5);
}