.box {
  width: 128px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 6px #CCC;
  border-radius: 5px;
  display: inline-block;
  margin: 10px;
}

.box h1 {
  font-weight: 400;
  font-size: 14px;
  color: #494A4A;
  display: block;
  padding: 55px 0px 5px 5px;
  margin: 0px;
}

.box p {
  font-weight: 300;
  font-size: 11px;
  color: #999999;
  display: block;
  padding: 0px 0px 5px 5px;
  margin: 0px;
}

.color-full {
  width: 128px;
  height: 50px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: block;
  float: left;
}

.color-left {
  width: 64px;
  height: 50px;
  border-top-left-radius: 5px;
  display: block;
  float: left;
}

.color-right {
  width: 64px;
  height: 50px;
  border-top-right-radius: 5px;
  display: block;
  float: left;
}

.color-third-left {
  width: 42px;
  height: 50px;
  border-top-left-radius: 5px;
  display: block;
  float: left;
}

.color-third-middle {
  width: 44px;
  height: 50px;
  display: block;
  float: left;
}

.color-third-right {
  width: 42px;
  height: 50px;
  border-top-right-radius: 5px;
  display: block;
  float: left;
}

.color-pomegranate {
  background-color: #f44336;
}

.color-lavender-blush {
  background-color: #ffebee;
}

.color-pastel-pink {
  background-color: #ffcdd2;
}

.color-sea-pink {
  background-color: #ef9a9a;
}

.color-sunglo {
  background-color: #e57373;
}

.color-burnt-sienna {
  background-color: #ef5350;
}

.color-cinnabar {
  background-color: #e53935;
}

.color-persian-red {
  background-color: #d32f2f;
}

.color-tall-poppy {
  background-color: #c62828;
}

.color-thunderbird {
  background-color: #b71c1c;
}

.color-vivid-tangerine {
  background-color: #ff8a80;
}

.color-sunset-orange {
  background-color: #ff5252;
}

.color-torch-red {
  background-color: #ff1744;
}

.color-guardsman-red {
  background-color: #d50000;
}

.color-amaranth {
  background-color: #e91e63;
}

.color-wisp-pink {
  background-color: #fce4ec;
}

.color-chantilly {
  background-color: #f8bbd0;
}

.color-mauvelous {
  background-color: #f48fb1;
}

.color-froly {
  background-color: #f06292;
}

.color-french-rose {
  background-color: #ec407a;
}

.color-amaranth {
  background-color: #d81b60;
}

.color-maroon-flush {
  background-color: #c2185b;
}

.color-jazzberry-jam {
  background-color: #ad1457;
}

.color-rose-bud-cherry {
  background-color: #880e4f;
}

.color-tickle-me-pink {
  background-color: #ff80ab;
}

.color-wild-strawberry {
  background-color: #ff4081;
}

.color-razzmatazz {
  background-color: #f50057;
}

.color-red-violet {
  background-color: #c51162;
}

.color-seance {
  background-color: #9c27b0;
}

.color-snuff {
  background-color: #f3e5f5;
}

.color-french-lilac {
  background-color: #e1bee7;
}

.color-light-wisteria {
  background-color: #ce93d8;
}

.color-amethyst {
  background-color: #ba68c8;
}

.color-amethyst {
  background-color: #ab47bc;
}

.color-seance {
  background-color: #8e24aa;
}

.color-seance {
  background-color: #7b1fa2;
}

.color-seance {
  background-color: #6a1b9a;
}

.color-persian-indigo {
  background-color: #4a148c;
}

.color-heliotrope {
  background-color: #ea80fc;
}

.color-heliotrope {
  background-color: #e040fb;
}

.color-electric-violet {
  background-color: #d500f9;
}

.color-electric-violet {
  background-color: #aa00ff;
}

.color-purple-heart {
  background-color: #673ab7;
}

.color-white-lilac {
  background-color: #ede7f6;
}

.color-prelude {
  background-color: #d1c4e9;
}

.color-cold-purple {
  background-color: #b39ddb;
}

.color-lilac-bush {
  background-color: #9575cd;
}

.color-fuchsia-blue {
  background-color: #7e57c2;
}

.color-purple-heart {
  background-color: #5e35b1;
}

.color-daisy-bush {
  background-color: #512da8;
}

.color-daisy-bush {
  background-color: #4527a0;
}

.color-jacksons-purple {
  background-color: #311b92;
}

.color-heliotrope {
  background-color: #b388ff;
}

.color-electric-violet {
  background-color: #7c4dff;
}

.color-electric-violet {
  background-color: #651fff;
}

.color-electric-violet {
  background-color: #6200ea;
}

.color-san-marino {
  background-color: #3f51b5;
}

.color-white-lilac {
  background-color: #e8eaf6;
}

.color-periwinkle-gray {
  background-color: #c5cae9;
}

.color-cold-purple {
  background-color: #9fa8da;
}

.color-moody-blue {
  background-color: #7986cb;
}

.color-indigo {
  background-color: #5c6bc0;
}

.color-sapphire {
  background-color: #3949ab;
}

.color-sapphire {
  background-color: #303f9f;
}

.color-bay-of-many {
  background-color: #283593;
}

.color-jacksons-purple {
  background-color: #1a237e;
}

.color-malibu {
  background-color: #8c9eff;
}

.color-dodger-blue {
  background-color: #536dfe;
}

.color-dodger-blue {
  background-color: #3d5afe;
}

.color-blue-ribbon {
  background-color: #304ffe;
}

.color-dodger-blue {
  background-color: #2196f3;
}

.color-hawkes-blue {
  background-color: #e3f2fd;
}

.color-sail {
  background-color: #bbdefb;
}

.color-malibu {
  background-color: #90caf9;
}

.color-malibu {
  background-color: #64b5f6;
}

.color-picton-blue {
  background-color: #42a5f5;
}

.color-curious-blue {
  background-color: #1e88e5;
}

.color-denim {
  background-color: #1976d2;
}

.color-denim {
  background-color: #1565c0;
}

.color-tory-blue {
  background-color: #0d47a1;
}

.color-malibu {
  background-color: #82b1ff;
}

.color-dodger-blue {
  background-color: #448aff;
}

.color-dodger-blue {
  background-color: #2979ff;
}

.color-dodger-blue {
  background-color: #2962ff;
}

.color-cerulean {
  background-color: #03a9f4;
}

.color-pattens-blue {
  background-color: #e1f5fe;
}

.color-french-pass {
  background-color: #b3e5fc;
}

.color-malibu {
  background-color: #81d4fa;
}

.color-picton-blue {
  background-color: #4fc3f7;
}

.color-dodger-blue {
  background-color: #29b6f6;
}

.color-cerulean {
  background-color: #039be5;
}

.color-lochmara {
  background-color: #0288d1;
}

.color-lochmara {
  background-color: #0277bd;
}

.color-bahama-blue {
  background-color: #01579b;
}

.color-anakiwa {
  background-color: #80d8ff;
}

.color-dodger-blue {
  background-color: #40c4ff;
}

.color-dodger-blue {
  background-color: #00b0ff;
}

.color-azure-radiance {
  background-color: #0091ea;
}

.color-robins-egg-blue {
  background-color: #00bcd4;
}

.color-white-ice {
  background-color: #e0f7fa;
}

.color-blizzard-blue {
  background-color: #b2ebf2;
}

.color-spray {
  background-color: #80deea;
}

.color-turquoise-blue {
  background-color: #4dd0e1;
}

.color-scooter {
  background-color: #26c6da;
}

.color-pacific-blue {
  background-color: #00acc1;
}

.color-bondi-blue {
  background-color: #0097a7;
}

.color-blue-lagoon {
  background-color: #00838f;
}

.color-blue-stone {
  background-color: #006064;
}

.color-anakiwa {
  background-color: #84ffff;
}

.color-cyan-/-aqua {
  background-color: #18ffff;
}

.color-cyan-/-aqua {
  background-color: #00e5ff;
}

.color-cerulean {
  background-color: #00b8d4;
}

.color-persian-green {
  background-color: #009688;
}

.color-aqua-squeeze {
  background-color: #e0f2f1;
}

.color-aqua-island {
  background-color: #b2dfdb;
}

.color-monte-carlo {
  background-color: #80cbc4;
}

.color-fountain-blue {
  background-color: #4db6ac;
}

.color-jungle-green {
  background-color: #26a69a;
}

.color-teal {
  background-color: #00897b;
}

.color-pine-green {
  background-color: #00796b;
}

.color-tropical-rain-forest {
  background-color: #00695c;
}

.color-aqua-deep {
  background-color: #004d40;
}

.color-aero-blue {
  background-color: #a7ffeb;
}

.color-aquamarine {
  background-color: #64ffda;
}

.color-java {
  background-color: #1de9b6;
}

.color-caribbean-green {
  background-color: #00bfa5;
}

.color-fruit-salad {
  background-color: #4caf50;
}

.color-panache {
  background-color: #e8f5e9;
}

.color-zanah {
  background-color: #c8e6c9;
}

.color-moss-green {
  background-color: #a5d6a7;
}

.color-de-york {
  background-color: #81c784;
}

.color-fern {
  background-color: #66bb6a;
}

.color-apple {
  background-color: #43a047;
}

.color-apple {
  background-color: #388e3c;
}

.color-sea-green {
  background-color: #2e7d32;
}

.color-parsley {
  background-color: #1b5e20;
}

.color-magic-mint {
  background-color: #b9f6ca;
}

.color-turquoise-blue {
  background-color: #69f0ae;
}

.color-spring-green {
  background-color: #00e676;
}

.color-malachite {
  background-color: #00c853;
}

.color-sushi {
  background-color: #8bc34a;
}

.color-loafer {
  background-color: #f1f8e9;
}

.color-chrome-white {
  background-color: #dcedc8;
}

.color-deco {
  background-color: #c5e1a5;
}

.color-feijoa {
  background-color: #aed581;
}

.color-celery {
  background-color: #9ccc65;
}

.color-sushi {
  background-color: #7cb342;
}

.color-apple {
  background-color: #689f38;
}

.color-apple {
  background-color: #558b2f;
}

.color-dell {
  background-color: #33691e;
}

.color-reef {
  background-color: #ccff90;
}

.color-green-yellow {
  background-color: #b2ff59;
}

.color-chartreuse {
  background-color: #76ff03;
}

.color-lima {
  background-color: #64dd17;
}

.color-pear {
  background-color: #cddc39;
}

.color-coconut-cream {
  background-color: #f9fbe7;
}

.color-tusk {
  background-color: #f0f4c3;
}

.color-primrose {
  background-color: #e6ee9c;
}

.color-manz {
  background-color: #dce775;
}

.color-wattle {
  background-color: #d4e157;
}

.color-earls-green {
  background-color: #c0ca33;
}

.color-lemon-ginger {
  background-color: #afb42b;
}

.color-lemon-ginger {
  background-color: #9e9d24;
}

.color-trendy-green {
  background-color: #827717;
}

.color-dolly {
  background-color: #f4ff81;
}

.color-golden-fizz {
  background-color: #eeff41;
}

.color-electric-lime {
  background-color: #c6ff00;
}

.color-lime {
  background-color: #aeea00;
}

.color-gorse {
  background-color: #ffeb3b;
}

.color-travertine {
  background-color: #fffde7;
}

.color-lemon-chiffon {
  background-color: #fff9c4;
}

.color-picasso {
  background-color: #fff59d;
}

.color-paris-daisy {
  background-color: #fff176;
}

.color-gorse {
  background-color: #ffee58;
}

.color-bright-sun {
  background-color: #fdd835;
}

.color-lightning-yellow {
  background-color: #fbc02d;
}

.color-sea-buckthorn {
  background-color: #f9a825;
}

.color-ecstasy {
  background-color: #f57f17;
}

.color-dolly {
  background-color: #ffff8d;
}

.color-yellow {
  background-color: #ffff00;
}

.color-turbo {
  background-color: #ffea00;
}

.color-gold {
  background-color: #ffd600;
}

.color-amber {
  background-color: #ffc107;
}

.color-gin-fizz {
  background-color: #fff8e1;
}

.color-buttermilk {
  background-color: #ffecb3;
}

.color-salomie {
  background-color: #ffe082;
}

.color-mustard {
  background-color: #ffd54f;
}

.color-sunglow {
  background-color: #ffca28;
}

.color-selective-yellow {
  background-color: #ffb300;
}

.color-orange-peel {
  background-color: #ffa000;
}

.color-pizazz {
  background-color: #ff8f00;
}

.color-blaze-orange {
  background-color: #ff6f00;
}

.color-kournikova {
  background-color: #ffe57f;
}

.color-bright-sun {
  background-color: #ffd740;
}

.color-amber {
  background-color: #ffc400;
}

.color-web-orange {
  background-color: #ffab00;
}

.color-pizazz {
  background-color: #ff9800;
}

.color-sazerac {
  background-color: #fff3e0;
}

.color-frangipani {
  background-color: #ffe0b2;
}

.color-chardonnay {
  background-color: #ffcc80;
}

.color-texas-rose {
  background-color: #ffb74d;
}

.color-sunshade {
  background-color: #ffa726;
}

.color-pizazz {
  background-color: #fb8c00;
}

.color-gold-drop {
  background-color: #f57c00;
}

.color-clementine {
  background-color: #ef6c00;
}

.color-trinidad {
  background-color: #e65100;
}

.color-grandis {
  background-color: #ffd180;
}

.color-yellow-orange {
  background-color: #ffab40;
}

.color-pizazz {
  background-color: #ff9100;
}

.color-blaze-orange {
  background-color: #ff6d00;
}

.color-orange {
  background-color: #ff5722;
}

.color-linen {
  background-color: #fbe9e7;
}

.color-romantic {
  background-color: #ffccbc;
}

.color-mona-lisa {
  background-color: #ffab91;
}

.color-salmon {
  background-color: #ff8a65;
}

.color-burning-orange {
  background-color: #ff7043;
}

.color-pomegranate {
  background-color: #f4511e;
}

.color-cinnabar {
  background-color: #e64a19;
}

.color-tia-maria {
  background-color: #d84315;
}

.color-tia-maria {
  background-color: #bf360c;
}

.color-vivid-tangerine {
  background-color: #ff9e80;
}

.color-burning-orange {
  background-color: #ff6e40;
}

.color-vermilion {
  background-color: #ff3d00;
}

.color-grenadier {
  background-color: #dd2c00;
}

.color-silver-chalice {
  background-color: #9e9e9e;
}

.color-alabaster {
  background-color: #fafafa;
}

.color-wild-sand {
  background-color: #f5f5f5;
}

.color-gallery {
  background-color: #eeeeee;
}

.color-alto {
  background-color: #e0e0e0;
}

.color-silver {
  background-color: #bdbdbd;
}

.color-boulder {
  background-color: #757575;
}

.color-dove-gray {
  background-color: #616161;
}

.color-tundora {
  background-color: #424242;
}

.color-mine-shaft {
  background-color: #212121;
}

.color-lynch {
  background-color: #607d8b;
}

.color-porcelain {
  background-color: #eceff1;
}

.color-geyser {
  background-color: #cfd8dc;
}

.color-tower-gray {
  background-color: #b0bec5;
}

.color-gull-gray {
  background-color: #90a4ae;
}

.color-regent-gray {
  background-color: #78909c;
}

.color-cutty-sark {
  background-color: #546e7a;
}

.color-fiord {
  background-color: #455a64;
}

.color-limed-spruce {
  background-color: #37474f;
}

.color-outer-space {
  background-color: #263238;
}

.color-roman-coffee {
  background-color: #795548;
}

.color-ebb {
  background-color: #efebe9;
}

.color-swirl {
  background-color: #d7ccc8;
}

.color-silk {
  background-color: #bcaaa4;
}

.color-pharlap {
  background-color: #a1887f;
}

.color-cement {
  background-color: #8d6e63;
}

.color-kabul {
  background-color: #6d4c41;
}

.color-millbrook {
  background-color: #5d4037;
}

.color-rock {
  background-color: #4e342e;
}

.color-english-walnut {
  background-color: #3e2723;
}

.color-black {
  background-color: #000000;
}

.color-white {
  background-color: #ffffff;
}