{{ partial "head.html" . }}

<body class="blogpost">
  <div>
    <header class="{{ if .Params.image.thumb_path }}with-background{{end}}" style="{{ if .Params.image.thumb_path }}background-image: url('{{ .Params.image.thumb_path }}');{{ end }}">
      <h3>{{ .Title }}</h3>
    </header>
    <div class="menu">
     <div class="menu-items">
      <a href="/">Home</a> | 
      <a href="/projects/">Projects</a> | 
      <a href="/life/">Life</a> | 
      <a href="https://twitter.com/Paul_Kinlan">Twitter</a>
     </div>
    </div>
    <main class="">
        <div id="content" >
          <div class="author">
            <div>
              <strong>Paul Kinlan</strong>
              <span><time pubdate>{{  .Date.Format "January 2 2006" }}</time></span>
            </div>
          </div>

          <script type="application/ld+json">
          {
            "@context": "http://schema.org",
            "@type": "ImageObject",
            "author": "Paul Kinlan",
            "contentUrl": "{{ .Params.image.path }}",
            "datePublished": "{{ .Date.Format "2006-01-02" }}",
            "representativeOfPage": true,
            "exifData": [
              {
                "@type": "PropertyValue",
                "name": "Manufacturer",
                "value": "{{ .Params.image.Make }}"
              },
              {
              "@type": "PropertyValue",
                "name": "Model",
                "value": "{{ .Params.image.Model }}"
              },
              {
                "@type": "PropertyValue",
                "name": "FocalLength",
                "value": "{{ .Params.exif.FocalLength }}"
              },
              {
                "@type": "PropertyValue",
                "name": "MaxApertureValue",
                "value": "{{ .Params.exif.MaxApertureValue }}"
              },
              {
                "@type": "PropertyValue",
                "name": "FNumber",
                "value": "{{ .Params.exif.FNumber }}"
              }
            ]
          }
          </script>

          <figure>
            <pinch-zoom><img src="{{ .Params.image.path }}"></pinch-zoom>
            <figcaption><a href="{{ .Params.image.path }}">Original</a></figcaption>
          </figure>

          <script defer src="/javascripts/pinch-zoom-element/pinch-zoom-min.js"></script>
          <style>
            pinch-zoom {
              display: block;
              overflow: hidden;
              touch-action: none;
              --scale: 1;
              --x: 0;
              --y: 0;
            }

            pinch-zoom > * {
              transform: translate(var(--x), var(--y)) scale(var(--scale));
              transform-origin: 0 0;
              will-change: transform;
            }
          </style>
          
          {{ partial "share.html" . }}
          {{ partial "article_footer.html" . }}
          {{ partial "moi.html" . }}
          <div class="comments" id="disqus_thread"></div>
        </div>
    </main>
  </div>
  
</body>
</html>