body {
  display: flex;
  flex-direction: column;
  margin: 2em;
  align-items: center;
}

#image-share {
  width: 100%;
}

#noteform {
  max-width: 720px;
}

#noteform.authenticated #authenticate {
  display: none;
}

#noteform.authenticated #repositoryInformation {
  display: block;
}

#noteform:not(.authenticated) #repositoryInformation {
  display: none;
}

.codex-editor {
  font-family: sans-serif;
}

fieldset.information {
  display: flex;
}