{{ partial "head.html" }}
<body>
  <div class="mdl-layout mdl-js-layout has-drawer is-upgraded">
      <header class="mdl-layout__header mdl-layout__header--scroll mdl-layout__header--transparent is-casting-shadow mdl-color-text--white">
      </header>
      <main class="mdl-layout__content mdl-grid">
        {{ range .Data.Pages.ByDate.Reverse }}
<div class="mdl-card mdl-cell mdl-cell--8-col">
  <div class="mdl-card__media mdl-color-text--grey-50" style="{{ if .Params.image_header }}background-image: url('{{ .Params.image_header }}');{{ end }}">
    <h3><a href="/{{ .Url }}">{{ .Title}}</a></h3>
  </div>
  {{ if .Description }}
  <div class="mdl-color-text--grey-600 mdl-card__supporting-text index-entry__description">
    <p>{{ .Description }}</p>
    <a class="mdl-button mdl-js-button mdl-js-ripple-effect" href="{{ .Url }}">
       Read More
    </a>
  </div>
  {{ end }}
  <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
    <div class="minilogo"></div>
    <div>
      <strong>Paul Kinlan</strong>
      <span><time pubdate>{{  .Date.Format "January 2 2006" }}</time></span>
    </div>
  </div>
</div>
{{ end }}
        
      <nav class="mdl-cell mdl-cell--12-col">
          <div class="empty"></div>
          <div>
            More
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon">
              <i class="material-icons">arrow_forward</i>
            </button>
          </div>
        </nav>
        </main>
     </div>

  </body>
 </html>