{{ partial "head.html" . }}

<body class="blogpost">
  <div>
    {{ partial "menu.html" }}
    <header class="{{ if .Params.image_header }}with-background{{end}}"
      style="{{ if .Params.image_header }}background-image: url('{{ .Params.image_header}}');{{ end }}">
      <h3>{{ .Title }}</h3>
    </header>
    <main class="">
      <div id="content" {{ if ne .Lang "en" }}lang="{{ .Lang }}-x-mtfrom-en" {{ end }}>
        <div class="byline">
          <div class="author">
            <div>
              <strong>Paul Kinlan</strong>
              <span><time pubdate>{{ .Date.Format "January 2 2006" }}</time></span>
            </div>
          </div>

          {{ if .Page.Draft}}{{ partial "draft.html" }}{{ end }}

          {{ if .Page.Translations }}
          <div class="langs">
            Available in:
            {{ range $i, $e := $.Page.Translations }}{{ if $i }}, {{end}}<a
              href="{{.Permalink}}">{{$e.Language.LanguageName}}{{ if eq $e.Lang "en"}}(Original){{end}}</a>{{ end }}
          </div>
          {{ end }}
        </div>
        {{ if isset .Params "podcast_url" }}
        <div class="podcast">
          <audio controls class="podcast torrent-element">
            <a href="{{ .Params.podcast_url }}">Download this podcast</a>
            <source src="{{ .Params.podcast_url }}">
          </audio>
          <a href="{{ .Params.podcast_url }}">Download</a>
        </div>
        {{ end }}
        {{ if isset .Params "video_url" }}
        <div class="video">
          <video controls class="video torrent-element" {{ if .Params.video_autoloop }}muted autoplay loop{{end}}>
            <a href="{{ .Params.video_url }}">Download this video</a>
            <source src="{{ .Params.video_url }}">
          </video>
          <a href="{{ .Params.video_url }}">Download</a>
        </div>
        {{ end }}
        {{ if isset .Params "toc" }}{{ .TableOfContents }}{{ end}}
        {{ .Content }}
        {{ partial "share.html" . }}
        {{ partial "article_footer.html" . }}
        {{ partial "moi.html" . }}
        <script defer src="https://cdn.commento.io/js/commento.js" data-no-fonts="true"></script>
        <div id="commento"></div>

        <div class="comments webmentions">
          <iframe id="fediverse" src="/api/activitypub-html/render.ts?url={{.Page.Permalink}}">
          </iframe>
          <script>
            // Selecting the iframe element
            const fediverseFrame = document.getElementById("fediverse");
            fediverseFrame.onload = function () {
              fediverseFrame.style.height = `${fediverseFrame.contentWindow.document.body.scrollHeight}px`;
            }
          </script>
          <iframe id="mentions" src="/api/mentions.js?url={{.Page.Permalink}}">
          </iframe>
          <script>
            // Selecting the iframe element
            const mentionsFrame = document.getElementById("mentions");
            mentionsFrame.onload = function () {
              mentionsFrame.style.height = `${mentionsFrame.contentWindow.document.body.scrollHeight}px`;
            }
          </script>
        </div>
      </div>
    </main>
  </div>
</body>

</html>