{{ partial "head.amp.html" . }}
<body class="blogpost">
  <div>
    <header class="{{ if .Params.image_header }}with-background{{end}}">
      <h3>{{ .Title }}</h3>
    </header>
    <div class="menu">
     <div class="menu-items">
      <a href="/">Home</a> | 
      <a href="/life/">Life</a> | 
      <a href="https://twitter.com/Paul_Kinlan">Twitter</a>
     </div>
    </div>
    <main class="">
        <div id="content" >
          <div class="author">
            <div>
              <strong>Paul Kinlan</strong>
              <span><time>{{  .Date.Format "January 2 2006" }}</time></span>
            </div>
          </div>
          {{ if isset .Params "podcast_url" }}
          <div class="podcast">
          <audio controls class="podcast torrent-element">
            <a href="{{ .Params.podcast_url }}">Download this podcast</a>
	          <source src="{{ .Params.podcast_url }}">
          </audio>
          <a href="{{ .Params.podcast_url }}">Download</a>|<a href="{{ .Params.podcast_url }}.torrent">Torrent</a>
          </div>
          {{ end }}
          {{ if isset .Params "video_url" }}
          <div class="video">
          <video controls class="video torrent-element">
            <a href="{{ .Params.video_url }}">Download this video</a>
	          <source src="{{ .Params.video_url }}">
          </video>
          <a href="{{ .Params.video_url }}">Download</a>|<a href="{{ .Params.video_url }}.torrent">Torrent</a>
          </div>
          {{ end }}

          {{ if isset .Params "toc" }}
          {{ .TableOfContents }}
          {{ end}}
          {{ .Content }}
          {{ partial "article_footer.amp.html" . }}
          {{ partial "moi.amp.html" . }}
        </div>
        
        <footer role="contentinfo">{{ partial "footer.html" . }}</footer>
        <nav class="">
          
        </nav>
    </main>
  </div>
  
</body>
</html>