html {
  color-scheme: light dark;
  --background-color: #fefefe;
  --text-color: #333;
  --block-quote-before-color: #ccc;
  --link-color: blue;
  --link-color-visited: purple;
  --post-shadow: #dadada;
}

body,
html {
  margin: 0;
  padding: 0;
  color: #fefefe;
  color: var(--text-color);
  background-color: #fefefe;
  background-color: var(--background-color);
}

a {
  color: var(--link-color);
}

a:visited {
  color: var(--link-color-visited);
}

@media (prefers-color-scheme: dark) {
  html {
    --background-color: #212529;
    --text-color: #fefefe;
    --block-quote-before-color: #333;
    --link-color: #1bcba2;
    --link-color-visited: #7ad857;
    --post-shadow: #333;
  }

  .post.moi a[rel="me"] img {
    filter: invert(0.8);
  }
}

div.highlight {
  outline: #272822 solid 1em;
  margin: 2em 0 2em 0;
}

div.widgets {
  text-align: center;
}

body.blogpost,
body.list {
  text-align: center;
}

#mentions {
  border: none;
  width: 100%;
}

img.profile.photo {
  width: 32px;
  height: 32px;
  border-radius: 50% 50%;
}

aside {
  background-color: wheat;
  color: black;
  padding: 1em;
  border-radius: 0.5em;
  margin: 1em;
  border: dashed 3px #b78529;
}

.me {
  font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;
  margin: auto;
  text-align: left;
  max-width: 720px;
}

.me div {
  margin: 2em;
}

.me img {
  border-radius: 50%;
  float: right;
  width: 20%;
}

.me h1 {
  font-weight: 100;
  font-size: 4em;
}

.me h2 {
  font-weight: 300;
}

.me h3 {
  font-weight: 500;
}

pre {
  overflow: auto;
  width: 100%;
}

body.list .post header {
  padding-top: 1em;
  margin-bottom: 2em;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body.blogpost main,
body.list main {
  min-width: 240px;
  max-width: 720px;
  margin: auto;
  color: #333;
  color: var(--text-color);
  font-size: 1rem;
  line-height: 1.6em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  text-align: left;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body.blogpost header {
  max-width: 720px;
  margin: auto;
  padding: 1em;
  font-style: normal;
  font-size: 1.1em;
  line-height: 1.4;
  font-family: Helvetica, Arial, sans-serif;
  text-align: left;
}

body.blogpost hr {
  height: 1px;
  margin-right: 2em;
  margin-left: 2em;
  border: 0;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

body.blogpost div.draft {
  border: solid red 1px;
  background-color: pink;
  color: black;
  padding: 1em;
}

body.blogpost div.draft a {
  color: blue;
}

body.blogpost header,
body.list main .post header {
  background-repeat: repeat;
  background-position: 50% 50%;
  background-size: cover;
  background-origin: padding-box;
  background-attachment: scroll;
  box-sizing: border-box;
}

body.blogpost header.with-background,
body.list main .post header.with-background {
  height: 520px;
  margin: 0;
  margin-bottom: 2em;
  width: 100%;
  max-width: initial;
  position: relative;
}

body.blogpost header h3,
body.list main .post header h3 {
  margin-bottom: 0px;
  text-align: left;
  color: #eee;
  color: var(--text-color);
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  font-size: 34px;
  line-height: 40px;
}

body.blogpost header.with-background h3,
body.list main .post header.with-background h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  max-width: 720px;
  margin: auto;
  padding-left: 1.5em;
}

body.blogpost .byline {
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: solid 1px #e9e9e9;
  font-size: 0.8em;
}

body.list .post header h3 a {
  color: #333;
  color: var(--text-color);
}

.post .read-more,
div.subscribe,
div.share {
  text-decoration: none;
  color: #fff;
  background-color: #2196f3;
  text-align: center;
  letter-spacing: 0.5px;
  transition: 0.2s ease-out;
  cursor: pointer;
  outline: 0;
  border: none;
  border-radius: 2px;
  display: inline-block;
  height: 36px;
  line-height: 36px;
  padding: 0 1rem;
  text-transform: uppercase;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}

.post.moi {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  font-size: 1em;
  line-height: 1.2em;
}

.post.moi div>img {
  width: 3em;
  height: 3em;
  padding: 2em;
  border-radius: 50%;
}

.post.moi div p {
  font-weight: 600;
}

.post.moi div+div {
  padding: 1em;
}

.moi-links {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.post.moi div p+p {
  font-weight: inherit;
  font-style: italic;
}

.post.moi a.email img,
.post.moi a.rss img,
.post.moi a.twitter img,
.post.moi a.medium img {
  padding: 0.5em;
  width: 32px;
  height: 32px;
}

body.blogpost .post,
body.list main .post {
  background-color: rgba(255, 255, 255, 0.95);
  background-color: var(--background-color);
}

body.list .post {
  margin: 1em;
}

body.blogpost figure img {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body.blogpost h1,
body.blogpost h2,
body.blogpost h3,
body.blogpost h4 {
  font-family: "Helvetica Neue", Helvetica, Arial;
}

body.blogpost main {
  margin: auto;
  padding: 1em;
  box-sizing: border-box;
}

body.blogpost main h1 {
  font-size: 1.6em;
  margin-bottom: 0em;
}

body.blogpost main h2 {
  font-size: 1.4em;
  margin-bottom: 0em;
}

body.blogpost main h3 {
  font-size: 1.2em;
  margin-bottom: 0em;
}

body.blogpost main h4 {
  font-size: 1em;
  margin-bottom: 0em;
}

.author {
  font-style: italic;
}

body.list .post .description {
  padding-bottom: 1em;
}

body.list .post .description .nugget {
  font-family: "Open Sans", Helvetica, sans-serif;
  line-height: 32px;
}

body .menu {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 400;
  color: #333;
  color: var(--text-color);
  padding: 1em;
  text-align: center;
  border-bottom: solid 1px #ccc;
  border-bottom: solid 1px var(--block-quote-before-color);
}

body .menu .search {
  max-width: 360px;
  margin: auto;
  padding-top: 1em;
}

body .menu .search input[type=search] {
  width: 100%;
  padding: 0.5em;
  font-size: 1em;
}

body .menu .menu-items {
  margin: auto;
  text-align: center;
  max-width: 720px;
  display: flex;
  justify-content: space-evenly;
}

body .menu a {
  color: initial;
  color: var(--text-color);
}

figure {
  text-align: center;
}

figure img {
  width: 100%;
}

figure video {
  width: 100%;
}

body.list figure {
  text-align: center;
  margin: 1em -1em;
  padding: 0;
}

body.list figure img {
  box-shadow: 0px 10px 10px -10px black;
}

body.list figure video {
  box-shadow: 0px 10px 10px -10px black;
}

figcaption {
  font-size: 0.7em;
  font-weight: 600;
  font-style: italic;
}

blockquote {
  font-style: italic;
  position: relative;
  quotes: "\201C""\201D";
}

blockquote:before {
  color: #ccc;
  color: var(--block-quote-before-color);
  content: open-quote;
  font-size: 5em;
  position: absolute;
  left: -46px;
  top: 25px;
  line-height: 0em;
}

div.podcast,
div.video {
  margin: 1em 0em;
  text-align: center;
}

div.podcast audio,
div.video video {
  display: block;
  margin: 1em auto;
  width: 100%;
}

.widgets {
  display: flex;
  align-items: center;
  justify-content: center;
}

.webmentions .comments .reply img {
  float: left;
  margin-right: 1em;
}

div.subscribe,
div.share {
  margin: 1em;
  display: flex;
  align-items: center;
}

div.subscribe a {
  color: white;
  filter: contrast(100);
}

div.subscribe a img {
  display: block;
}

div.share {
  background-color: #ff4081;
  color: white;
  text-align: center;
  max-height: 36px;
  height: 36px;
}

.share svg {
  pointer-events: none;
}

div.widgets.source a {
  margin: 1em;
}

div.related.pages:empty {
  display: none;
}

@media (max-width: 319px) {
  blockquote {
    margin-right: 0px;
  }

  body.list .post.entry>header>h3 {
    font-size: 24px;
  }
}