{{ $related := .Site.RegularPages.Related . | first 5 }}
{{ with $related }}
<div class="related pages">
  <h3>See Also</h3>
  <ul>
      {{ range . }}
      <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
      {{ end }}
  </ul>
</div>
{{ end }}
{{ $tags := .Params.tags}}
{{ with $tags }}
<div class="related tags">
  <h3>Tags</h3>
  <ul>
  {{ range . }}
    <li><a href="{{ "/tags/" | relLangURL }}{{ . | urlize }}">{{ . }}</a> </li>
  {{ end }}
  </ul>
</div>
{{ end }}
<div class="widgets source">
<a href="https://github.com/PaulKinlan/paul.kinlan.me/tree/main/content/en/{{.File.LogicalName}}" rel="nofollow">View Source</a>
|
<a href="https://github.com/PaulKinlan/paul.kinlan.me/edit/main/content/en/{{.File.LogicalName}}" rel="nofollow">Make a correction</a>
|
<a href="https://github.com/PaulKinlan/paul.kinlan.me/commits/main/content/en/{{.File.LogicalName}}" rel="nofollow">Correction history</a>
</div>
