<div class="related">
  {{ $related := .Site.RegularPages.Related . | first 5 }}
  {{ with $related }}
      <h3>See Also</h3>
      <ul>
          {{ range . }}
          <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
      </ul>
  {{ end }}
</div>
<div class="widgets">
    <a href="https://github.com/PaulKinlan/paul.kinlan.me/tree/master/content/{{.File.LogicalName}}">Source</a>
    |
    <a href="https://github.com/PaulKinlan/paul.kinlan.me/edit/master/content/{{.File.LogicalName}}">Make a correction</a>
    |
    <a href="https://github.com/PaulKinlan/paul.kinlan.me/commits/master/content/{{.File.LogicalName}}">Correction history</a>
</div>
<amp-analytics type="googleanalytics">
    <script type="application/json">
    {
      "vars": {
        "account": "{{ .Site.Params.analyticsid }}"
      },
      "triggers": {
        "trackPageview": {
          "on": "visible",
          "request": "pageview"
        }
      }
    }
    </script>
    </amp-analytics>