<div class="draft">
  <p><strong>Disclaimer</strong>. This article is a <strong>draft</strong>.</p>
  <p>This article might look complete but it is completely un-developed and is a snapshot of my thoughts at
    the time (which might also be a long time ago). It will be refined over time with research, education and
    conversations with people in the industry.</p>
  <p>There are many errors including and not limited to: spelling, grammatical, lack of ecosystem awareness
    understanding and plain ignorance.</p>
  <p>I am making it public to get feedback. You might completely disagree, you might agree violently. Either
    way, teach me. I want to hear from you: (<a href="mailto:paulkinlan@google.com">Email</a>, <a
      href="https://twitter.com/@paul_kinlan/">@paul_kinlan</a>.)</p>
</div>