<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="iem7"><![endif]-->
<html lang="en">
<head lang="en">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="dns-prefetch" href="https://www.youtube.com">
  <link rel="dns-prefetch" href="https://www.google-analytics.com">
  <link rel="dns-prefetch" href="https://a.disquscdn.com">
  <link rel="dns-prefetch" href="https://paulkinlan.disqus.com">
  <link rel="dns-prefetch" href="https://s.ytimg.com">
  <meta http-equiv="Accept-CH" content="DPR, Viewport-Width, Width, Downlink, Save-Data, Content-DPR">

  <title>{{if .IsPage }}{{ if .Title }}{{ .Title }} - {{ end }}{{end}}{{ .Site.Title }} by Paul Kinlan</title>
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="theme-color" content="{{ if .Params.themecolor }}#{{ .Params.themecolor}}{{ else }}#000000{{ end }}">
  {{if .Params.image_header}}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="{{.Params.image_header}}">
  {{else}}
  <meta name="twitter:card" content="summary">
  {{end}}
  <meta name="twitter:site" content="@paul_kinlan">
  <meta name="twitter:creator" content="@paul_kinlan">
  {{ if .Title }}
  <meta name="twitter:title" content="{{ .Title }} ">
  {{end}}
  {{ if .Description }}
  <meta name="description" content="{{ .Description }}">
  <meta name="twitter:description" content="{{ .Description }}">
  {{ end }}
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "Person",
      "name": "Paul Kinlan",
      "url": "https://paul.kinlan.me/",
      "sameAs": [
        "https://twitter.com/paul_kinlan",
        "https://www.instagram.com/paul_kinlan/",
        "https://www.linkedin.com/in/paulkinlan",
        "https://plus.google.com/+paulkinlan",
        "https://github.com/paulkinlan",
        "https://en.wikipedia.org/wiki/Paul_Kinlan",
        "https://medium.com/@paul_kinlan"
      ]
    }
  </script>
  <link href="/images/me.png" rel="icon">
  <link href="/manifest.json" rel="manifest">

  {{ partial "notcriticalcss.html" . }}

  <!-- Origin Trial Token, feature = Web Share, origin = https://paul.kinlan.me, expires = 2017-02-15 -->
  <meta http-equiv="origin-trial" data-feature="Web Share" data-expires="2017-02-15" content="AmPhWk8vh0XWY4cr71ujna7acQX7N4WjkEXPk5uc/1aTlJItuum6bYkeooqh2jrKCNSbC3FXW5HouAvW2yi1KgcAAABQeyJvcmlnaW4iOiJodHRwczovL3BhdWwua2lubGFuLm1lOjQ0MyIsImZlYXR1cmUiOiJXZWJTaGFyZSIsImV4cGlyeSI6MTQ4NzE2ODYyNX0=">
  <link href="{{ .RSSLink }}" rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" />
  <link href="{{ .RSSLink }}" rel="feed" type="application/rss+xml" title="{{ .Site.Title }}" />
  {{ partial "google_analytics.html" . }}
  {{ partial "webcomponents.html" . }}

  <script>
  navigator.serviceWorker.register('/sw.js')
    .then(function(registration) { },
          function(e) { console.log("Service Worker Failure", e); });

  if(navigator.share !== undefined) {

    document.addEventListener('DOMContentLoaded', e => {
      var shareBtn = document.querySelector('div.share a');
      if(!!shareBtn === false) return;
      shareBtn.addEventListener('click', clickEvent => {
        clickEvent.preventDefault();
        navigator.share({title: document.title, text: window.location.href, url: window.location.href})
          .then(() => ga('send', 'event', 'share', 'success'),
           error => ga('send', 'event', 'share', 'error', error));
      });
    });
  }
  </script>
</head>
