<div class="post moi">
  <div>
    <img src="/images/me.png" alt="Picture of me smiling.">
  </div>
  <div>
    <p>Paul Kinlan</p>
    <p>I lead the Chrome Developer Relations team at Google.</p>
    <p>We want people to have the best experience possible on the web without
      having to install a native app or produce content in a walled garden.</p>
    <p>Our team tries to make it easier
      for developers to build on the web by creating great content on [web.dev](https://web.dev/), and some of the best
      developer tools.</p>
    <a href="/index.xml" class="rss" rel="me"><img src="/images/rss_black.png" alt="RSS"></a>
    <a href="mailto:paulkinlan@google.com" class="email" rel="me"><img src="/images/email_black.png" alt="Email"></a>
    <a href="https://twitter.com/paul_kinlan" class="twitter" rel="me"><img src="/images/twitter.png" alt="Twitter"></a>
    <a href="https://github.com/paulkinlan" class="medium" rel="me"><img src="/images/github.png" alt="Github"></a>
    <a href="https://medium.com/@paul_kinlan" class="medium" rel="me"><img src="/images/medium.png" alt="Medium"></a>
  </div>
</div>