<div class="post moi">
  <div>
  <img src="/images/me.png" >
  </div>
  <div>
  <p>Paul Kinlan</p>
  <p>Trying to make the web and developers better.</p>
  <a href="/index.xml" class="rss"><img src="/images/rss_black.png" alt="RSS"></a>
  <a href="mailto:paulkinlan@google.com" class="email"><img src="/images/email_black.png" alt="Email" rel="me"></a>
  <a href="https://twitter.com/paul_kinlan" class="twitter"><img src="/images/twitter.png" alt="Twitter" rel="me"></a>
  <a href="https://github.com/paulkinlan" class="medium"><img src="/images/github.png" alt="Github" rel="me"></a>
  <a href="https://medium.com/@paul_kinlan" class="medium"><img src="/images/medium.png" alt="Medium" rel="me"></a>
  </div>
</div>
