<div class="post moi">
    <div>
    <amp-img src="/images/me.png" layout="fixed" width="24px" height="24px"></amp-img>
    </div>
    <div>
    <p>Paul Kinlan</p>
    <p>Trying to make the web and developers better.</p>
    <a href="/index.xml" class="rss"><amp-img src="/images/rss_black.png" alt="RSS" layout="fixed" width="24px" height="24px" ></amp-img></a>
    <a href="mailto:paulkinlan@google.com" class="email"><amp-img src="/images/email_black.png" alt="Email" layout="fixed" width="24px" height="24px"></amp-img></a>
    <a href="https://twitter.com/paul_kinlan" class="twitter"><amp-img src="/images/twitter.png" alt="Twitter" layout="fixed" width="24px" height="24px"></amp-img></a>
    <a href="https://github.com/paulkinlan" class="medium"><amp-img src="/images/github.png" alt="Github" layout="fixed" width="24px" height="24px"></amp-img></a>
    <a href="https://medium.com/@paul_kinlan" class="medium"><amp-img src="/images/medium.png" alt="Medium" layout="fixed" width="24px" height="24px"></amp-img></a>
    </div>
  </div>