<section class="post moi">
  <p>I lead the Chrome Developer Relations team at Google.</p>
  <p>We want people to have the best experience possible on the web without
    having to install a native app or produce content in a walled garden.</p>
  <p>Our team tries to make it easier
    for developers to build on the web by supporting every Chrome release, creating great content to support
    developers on <a href="https://web.dev">web.dev</a>, contributing to MDN, helping to improve browser
    compatibility, and some of the best
    developer tools like Lighthouse, Workbox, Squoosh to name just a few.</p>
  <p>I'm trialing a newsletter, you can subscribe below (thank you!)
    <form
      action="https://buttondown.email/api/emails/embed-subscribe/paul_kinlan"
      method="post"
      target="popupwindow"
      onsubmit="window.open('https://buttondown.email/paul_kinlan', 'popupwindow')"
      class="embeddable-buttondown-form"
    >
      <label for="bd-email">Enter your email</label>
      <input type="email" name="email" id="bd-email" />
      
      <input type="submit" value="Subscribe" />
    </form>
  </p>
  <div class="moi-links">
    <a href="/index.xml" class="rss" rel="me"><img src="/images/rss_black.png" alt="RSS"></a>
    <a href="mailto:paulkinlan@google.com" class="email" rel="me"><img src="/images/email_black.png" alt="Email"></a>
    <a rel="me" href="https://twitter.com/paul_kinlan" class="twitter" rel="me"><img src="/images/twitter.png" alt="Twitter"></a>
    <a rel="me" href="https://github.com/paulkinlan" class="medium" rel="me"><img src="/images/github.png" alt="Github"></a>
    <a rel="me" href="https://status.kinlan.me/@paul">Mastodon</a>
    <a class="read-more" href="https://calendar.google.com/calendar/u/0/selfsched?sstoken=UUJEeUlKOUdneGdnfGRlZmF1bHR8ZTFmZmIyZGJkZmIwMmU0ZTNiMDAwZDYzZjYyNWMxYjQ">
      Book a consultation
    </a>
  </div>
</section>
