<style>
body, html {margin: 0; padding: 0;}    
body, html {background-color: #fafafa;}      
  
body.blogpost, body.list {
  text-align: center;
}

.me {
  font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;
  margin: auto;
  text-align: left;
  max-width: 800px;
}

.me div {
  margin: 1em;
}

.me h1 {
  font-weight: 100;
  font-size: 4em;
}

.me h2 {
  font-weight: 300;
}

.me h3 {
  font-weight: 500;
}


pre {
  overflow: auto;
  width:100%;
}

body.list .post header {
  margin-bottom: 2em;
  font-family: 'Roboto','Helvetica','Arial',sans-serif; 
}

body.blogpost main, body.list main {
  margin: auto;
  text-align: left;
  max-width: 720px;
  font-family: Helvetica,Arial,sans-serif;
  font-size: 1.1em;
  color: #222;
  font-style: normal;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
  min-width: 320px;
}

body.blogpost header, body.list main .post header {
  color: white;
  background-color: #1485CC;
    background-repeat: repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-origin: padding-box;
    background-attachment: scroll;
    box-sizing: border-box;
    
}

body.blogpost header.with-background, body.list main .post header.with-background {
  height: 280px;
  position: relative;
}

body.blogpost header h3, body.list main .post header h3 {
    margin-bottom: 0px;
    margin: 0;
    
    
    text-align: center;
    padding: 0.4em;
    background-color: rgba(0,0,0,0.8);
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    font-weight: 400;
    font-size: 34px;
    line-height: 40px;
}

body.blogpost header.with-background h3, body.list main .post header.with-background h3 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

body.list .post header h3 a {
    color: white;
}

body.blogpost .post, body.list main .post {
    margin-bottom: 3em;
    background-color: white;
    box-shadow: 0px 0px 1px 1px #dadada;
}

body.blogpost .post, body.list .post {
  margin: 1em;
}

body.blogpost figure img {
  width: 100%;
}

body.blogpost h1, body.blogpost h2, body.blogpost h3, body.blogpost h4 {
  font-family: 'Helvetica Neue', Helvetica, Arial;
}

.author {
  font-style: italic;
}

body.list .post .description, body.blogpost #content {
  margin: 1em;
  margin-bottom: 1em;
  padding-bottom: 1em;
}

body .menu {
  background-color: rgba(0,0,0,0.9);
  font-family: 'Roboto','Helvetica','Arial',sans-serif;
  font-weight: 400;
  color: white;
  padding: 1em;
  text-align:left;
  margin-bottom: 2em;
}

body .menu a {
   color: white; 
}

figure {
  text-align: center;
}

pre code, p code {
  font-size: 18px;
}

blockquote {
  font-style: italic;
}

div.podcast, div.video {
  margin: 1em 0em;
  text-align: center;
}

div.podcast audio, div.video video {
  display: block;
  margin: 1em auto;
  width: 100%;
}
</style>