<div class="share">
    <style>
        .share .android, .share .desktop {
            display: block;
            padding: 5px;
            margin: 5px;
            background-color: #ff4081;
            color: white;
            text-align: center;
        }
    </style>
    <a class="android" href="intent:#Intent;action=android.intent.action.SEND;type=text/plain;S.android.intent.extra.TEXT={{urlquery .Permalink}};S.android.intent.extra.SUBJECT={{urlquery .Title}};S.browser_fallback_url=https:%3A%2F%2Ftwitter.com%2Fintent%2Ftweet?text={{urlquery .Title}}&url={{urlquery .Permalink}};end">Share</a>
    <a class="desktop" href="https://twitter.com/intent/tweet?text={{.Title}}&url={{.Permalink}}">Share</a>
    <script>
        window.addEventListener("load", function() {
           if(navigator.platform.indexOf("Android") > 0) {
               
           } 
        });
    </script>
</div>