{% if site.webintents_share %}
<script type="text/javascript">(function() {
  if(window.Intent == undefined ||  window.navigator.startActivity == undefined) {
    var wi = document.createElement('script');
    wi.type = 'text/javascript';
    wi.async = true;
    wi.src = 'http://webintents.org/webintents.min.js';
    document.getElementsByTagName('head')[0].appendChild(wi);
  }
  
  document.addEventListener("DOMContentLoaded", function() {
    var elements = document.querySelectorAll("button[data-webintent]");
    var element, i;
    for(i = 0; element = elements[i]; i++) {
      element.addEventListener("click", function(e) {
        e.preventDefault();
        var href = e.target.getAttribute("data-webintenturl");
        var action = e.target.getAttribute("data-webintent");
        var i = new Intent(action, "text/uri-list", href);
        window.navigator.startActivity(i);
        return false;
      }, false);
    }
  }, false);
})();
  
</script>
{% endif %}
