---
layout: default
---

<div>
<article role="article">
  {% if page.title %}
  <header>
    <h1 class="entry-title">{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
    {% if page.date %}<p class="meta">{% include post/date.html %}{{ time }}</p>{% endif %}
    {% include author.html %}
  </header>
  {% endif %}
  {{ content }}
  <footer>
    <p class="meta">
      {% include post/author.html %}
      {% if page.categories %}{% include post/categories.html %}{% endif %}
    </p>
  </footer>
</article>
</div>