{% capture root_url %}{{ site.root }}{% endcapture %}
{% include head.html %}
<body class="blogpost">
  <div class="mdl-layout mdl-js-layout has-drawer is-upgraded">
    <div class="demo-back">
      <a class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" href="index.html">
        <i class="material-icons">arrow_back</i>
      </a>
    </div>
    
    <main class="mdl-layout__content mdl-grid">
      <div class="mdl-cell mdl-cell--12-col">
        <div class="mdl-card__media mdl-color-text--grey-50" style="{%if page.image_header %}background-image: url('{{page.image_header}}');{% endif %}">
          <h3>{{ page.title }}</h3>
        </div>
        <div class="mdl-color-text--grey-700 mdl-card__supporting-text meta">
            <div class="minilogo"></div>
            <div>
              <strong>Paul Kinlan</strong>
              <span>{{page.date | date: '%B %d, %Y'}}</span>
            </div>
            <div class="spacer"></div>
          </div>
        <div id="content" class="mdl-card mdl-shadow--4dp mdl-cell mdl-cell--12-col">
          {% if site.subtitle %}
            <h4>{{ site.subtitle }}</h4>
          {% endif %}     
          {{ content | expand_urls: root_url }}
        </div>
        
        <footer role="contentinfo">{% include footer.html %}</footer>
        <nav class="mdl-color-text--grey-50 mdl-cell mdl-cell--12-col">
          
        </nav>
    </main>
  </div>
  
</body>
</html>


