<figure>
<amp-img 
{{ with .Get "src" }}src="{{ . }}"{{ end }}
{{ with .Get "alt" }}alt="{{ range (split . " ") }}{{ . }} {{ end }}"{{ end }}
{{ with .Get "attribution" }}attribution="{{ range (split . " ") }}{{ . }} {{ end }}"{{ end }}
{{ with .Get "srcset" }}srcset="{{ range (split . " ") }}{{ . }} {{ end }}"{{ end }}
{{ with .Get "tabindex" }}tabindex="{{ . }}"{{ end }}
{{ with .Get "role" }}role="{{ . }}"{{ end }}
{{ with .Get "width" }}width="{{ . }}"{{else}}width="640"{{ end }}
{{ with .Get "height" }}height="{{ . }}"{{else}}height="480"{{ end }}
{{ with .Get "layout" }}layout="{{ . }}"{{else}}layout="responsive"{{ end }}
></amp-img>
{{ with .Get "title" }}<figcaption>{{ . }}</figcaption>{{ end }}
</amp-img>
</figure>