{{ partial "head.html" . }}

<body class="list">
  <header class="me">
    <div>
    <img src="/images/me.png" alt="A dashing picture of Paul Kinlan.">
    <h1>Hello.</h1> 
    <h2>I am Paul Kinlan.</h2>
    <h3>Lead and Manager for Chrome Developer Relations.</h3>
    <p>I love the web. The web should allow anyone to access any experience that they need without the need for native install or content walled garden.</p>
    </div>
  </header>
   <div>
      <main>
{{ $paginator := .Paginate (where .Site.Pages "Type" "page") }}
{{ range $index, $element := $paginator.Pages }}
  <div class="post"> 
    <header class="{{ if .Params.image_header }}with-background{{end}}" style="{{ if .Params.image_header }} background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url('{{ .Params.image_header}}');{{end}}">
       <h3><a href="{{ .Permalink }}">{{ .Title}}</a></h3>
    </header>
    <div class="description">
      <div class="author">
        <div>
          <strong>Paul Kinlan</strong>
          <span><time pubdate>{{  .Date.Format "January 2 2006" }}</time></span>
        </div>
      </div>
      <p>{{ if .Description }}{{ .Description | html }}{{ else }}{{ .Summary }}{{ end }}</p>
      <div style="text-align: right;">
      <a class="read-more" href="{{ .Permalink }}">
         Read More
      </a>
      </div>
    </div>
  </div>
  {{ if eq $index 0 }}
    {{ partial "moi.html" . }}
  {{end}}
{{ end }}
        
      <nav style="text-align: center">
         <div>
          {{ if .Paginator.HasPrev }}
          <a href="{{ .Paginator.Prev.URL }}">Previous</a>
          {{ end }}
          |
          {{ if .Paginator.HasNext }}
            <a href="{{ .Paginator.Next.URL }}">More</a>
          {{ end }}
          </div>
        </nav>
        </main>
     </div>

  </body>
 </html>